#div-1{
    text-align: center;
    color: brown;
    background-color: orangered;
    border-top: 2px solid brown;
    border-bottom: 2px solid brown;
    margin-top: 2px solid brown;
    margin-bottom: 2px solid brown;
}